.App p {
  background-color: coral;
  font-family: Lato;
  display: text;
  text-align: center;
  width: 50%;
  height: 80px;
  padding-right: 20px;
  border: 1px solid #c3c3c3;
  position: relative;
  flex-wrap: wrap;
  border-bottom: 5px solid red;
  align-self: center;
  border-radius: 25px;
  float: center;

}

.App-logo  {
  background-color: yellow;
  animation: App-logo-spin infinite 20s linear;
  width: 50%;
  height: 80px;
  position: relative;
  text-align: center;
   border: 5px solid red;
}

.App-header  {
  background-color: #222;
  width: 50%;
  height: 150px;
  padding: 20px;
  color: white;
  position: relative;
  text-align: justify;
}

.App-title {
  background-color: orange;
  width: 50%;
  height: 150px;
  font-size: 1.5em;
  position: relative;
}

.App-intro {
  background-color: #FAEBD7;
  font-size: large;
  position: relative;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
