body {
  align-items: center;
  background-color: #db9833;
  display: run-in;
  font-family: "Roboto", sans-serif;
  height: 120px;
  width: 50%;
  margin: 0;
  text-align: center;
  float: left;
  justify-content: center;
}

div .row {
  text-align: center;
  border-radius: 76px;
  width: 100%;
}

div.album-details {
  color: #ca1833;
}

table #song-list {
  margin: auto;
  color: white;
}

section .player-bar {
  text-align: center;
  margin-top: 20px;
}

div .current-time {
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
}

input {
  background: transparent;
  border: 1px solid rgb(243, 139, 114);
  color: rgb(243, 139, 114);
  width: 100px;
  height: 35px;
  font-size: 35px;
  outline: none;
}
